<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <!-- Main CSS -->
{% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
  </head>

  <body class="background">

    <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">FindDesigners</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'find' %}">Find</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FAQ</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
  <form action="{% url 'main:search' %}" method="GET" class="form-inline float-xs-right">
    <input class="form-control" type="search" placeholder="Search Designers" name="search">
      <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i></button>
{# to put the log in, log out, sign up buttons to the right of the search bar just put the form closing tag below the code #}

  {% if user.is_anonymous %}
      <ul class="nav navbar-nav float-xs-right mx-2">
        <li class="nav-item">
            <a class="nav-link" href="login">Log in</a>
        </li>
       <li class="nav-item">
            <a class="nav-link" href="signup">Sign Up</a>
        </li>
      </ul>
  {% endif %}

  {% if user.is_authenticated %}
      <ul class="nav navbar-nav float-xs-right mx-2">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:designer_detail' request.user.pk %}"><img class="rounded-circle" src="{{ request.user.avatar.url }}" height="30" width="30">  View Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="logout">Log out</a>
        </li>
      </ul>
  {% endif %}
 </form>
</nav>

    {% block content %}{% endblock content %}



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/8dae4d5025.js"></script>

    </body>
</html>