{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">{{ designer.name }}</h1>
    <br>
    <h2>Twitter: @{{ designer.twitter }}</h2>
    <h2>{{ designer.up_votes }} Upvote{{ designer.up_votes|pluralize }}.</h2>
    <h2>{{ designer.is_available }}</h2>
    <h2>Thumbnail Price: £{{ designer.thumbnail_price|floatformat:"-2" }}</h2>
    <h2>Channel Art Price: £{{ designer.channel_art_price|floatformat:"-2" }}</h2>
    <h2>{{ designer.is_monthly }}</h2>
</div>
{% endblock %}
