{% extends 'main/base.html' %}
{% load main_extras %}

{%  block content %}
{#    {% for designer in designers %}#}
{#    <ul>#}
{#        {{ designer }} {{ designer.up_votes }} {{ designer.is_available }}#}
{#    </ul>#}
{#    {% endfor %}#}


<div class="container my-3 ">
    <h1 class="text-xs-center">Find Designers</h1>
</div>

<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container">
            <section class="container lead form-group col-md-4">{{ form.rating.label }} {{ form.rating }}</section>
            <section class="container lead form-group col-md-4">{{ form.thumbnail_cost.label }}
                {{ form.thumbnail_cost }}</section>
            <section class="container lead form-group col-md-4">{{ form.channel_art_cost.label }} {{ form.channel_art_cost }}</section>
        </div>
        <br>
        <div class="container">
            <section class="container lead form-group col-md-4">{{ form.can_work.label }} {{ form.can_work }}</section>
            <section class="container lead form-group col-md-4">{{ form.does_monthly.label }} {{ form.does_monthly }}</section>
        </div>
        <br>
        <input type="submit" value="Search" class="btn btn-primary text-center">
    </form>

<br>

{% if results == 2 %}
    <h1>Your search returned <b>{{ query|length }}</b> result{{ query|length|pluralize }}.</h1>
{% elif results == 1 %}
    <h1>Sorry, we couldn't find any designers that match your search.</h1>
{% endif %}
<br>
<hr>

</div>

    <div class="container">
{% for designer in query %}
<div class="card card-block">
  <a href="{% url 'main:designer_detail' designer.pk %}">
      <img class="pull-left designer-find" height="200" width="200" src="{{ designer.avatar.url }}"></a>

    <h4 class="card-title">{{ designer.get_long_name }}</h4>
    <h2 class="card-text"></h2>
    <a href="{% url 'main:designer_detail' designer.pk %}" class="btn btn-primary">View Profile</a>

</div>
<hr>
{% endfor %}
</div>

{% endblock %}