{% extends 'main/base.html' %}
{% block content %}

<div class="container">

{% for designer in designers_promoted %}
    <ul class="container">
        <p><img src="{{ designer.avatar.url }}"  height="100" width="100"> {{ designer }}
            {{ designer.votes.count }} Upvote{{ designer.votes.count|pluralize }} {{ designer.is_available }}
            {{ desingenr.thumbnail_cost }} <a href="{% url 'main:designer_detail' designer.pk %}">View Profile</a></p>
    </ul>
{% endfor %}
</div>

<br>

<div class="container">
<h1 class="ali">Popular Designers</h1>
<br>
<hr>
{% for designer in designers_popular %}
{#<a class='no-deco' href="{% url 'main:designer_detail' designer.pk %}">#}
{#<div class="container card card-outline-secondary">#}
{#        <div class="col-xs-3">#}
{#            <img class="pull-left" src="{{ designer.avatar.url }}"  height="100" width="100">#}
{#        </div>#}
{#        <div class="col-xs-6">#}
{#            <h2 class="test">{{ designer }}#}
{#            {{ designer.votes.count }} Upvote{{ designer.votes.count|pluralize }}#}
{#            {{ desingenr.thumbnail_cost }}</h2>#}
{#        </div>#}
{#</div>#}
{#</a>#}
    <div class="card card-block">
  <a href="{% url 'main:designer_detail' designer.pk %}">
      <img class="pull-left designer-find" height="200" width="200" src="{{ designer.avatar.url }}"></a>

    <h4 class="card-title">{{ designer.get_long_name }}</h4>
    <h2 class="card-text"></h2>
    <a href="{% url 'main:designer_detail' designer.pk %}" class="btn btn-primary">View Profile</a>

</div>
<hr>
{% endfor %}
</div>

{% endblock %}